.dashboard {
  margin: 50px auto;
  max-width: 1000px;
}

.dashboard__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas: 
    "welcome current-weather"
    "air-pollution air-pollution"
    "precipitation precipitation";
  gap: 50px;
}

.dashboard__main-title {
  font-size: 32px;
}

.dashboard__title {
  margin-bottom: 16px;
  font-size: 22px;
}

.welcome-item {
  grid-area: welcome;
}
.current-weather-item {
  grid-area: current-weather;
}
.air-pollution-item {
  grid-area: air-pollution;
}
.precipitation-item {
  grid-area: precipitation;
}

@media (max-width: 1024px) {
  .dashboard {
    margin: 30px 20px;
  }
  .dashboard__container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "welcome welcome"
    "current-weather current-weather"
    "air-pollution air-pollution"
    "precipitation precipitation";
  }
}
